dd img {
  float: left;
  height: 36px;
  margin-right: 10px;
}

#feature {
  background: #A7B5BF;
  background-image: url(../images/header/pixels.png);
  background-repeat: repeat-x;
  border-bottom: 1px #fff;
  padding: 1px;
}

#feature .wrapper {
  margin-top: 100px;
}

#container {
  background: white url(../images/containergradient.png) repeat-x scroll;
}

#container .wrapper {
  border: 1px solid #d2cece;
  border-radius: 6px;
  margin-top: 2.5em;
}

#mainCol {
  margin: 0;
  padding: 0 35px;
  border-right: 1px solid #d2cece;
}

#mainCol h3.group {
  margin: 0 -35px;
  padding: 15px 28px;
  border-bottom: 1px solid #d2cece;
  font-weight: normal;
}

#mainCol h3.section {
  padding-top: 1em;
  border-bottom: 1px solid #d2cece;
  font-size: 1.25em;
  font-weight: normal;
  text-transform: uppercase;
}

#guides {
  background-color: #2A8008;
  color: #3C9936;
}

#guides hr {
  background-color: #5FBB58;
}

#guides dl dt {
  color: #5FBB58;
  letter-spacing: 0.05em;
  font-weight: bold;
}

#guides dl dd {
  text-indent: -10px;
  margin-left: 18px;
}

#mainCol a, #subCol a, #feature a, a, a:link, a:visited {
  color: #0A6008;
}

.guide tt, .guide code {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  text-shadow: #fff 1px 1px 1px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.05);
  border: 1px solid #ddd;
  padding: 1px 3px;
}

div.filename {
  padding-top: 5px;
}

ol.chapters a {
  text-decoration: none;
}

ol.chapters li a p {
  /* FIXES: Firefox incorrectly renders block elements inside of list items */
  display: inline;
}

.syntaxhighlighter {
  /* FIXES: Chome cuts off underscores on the last line of a code block */
  padding-bottom: 1px;
}
