dd img {
  float: left;
  height: 36px;
  margin-right: 10px;
}

#feature {
  background: #A7B5BF;
  background-image: url(../images/header/pixels.png);
  background-repeat: repeat-x;
  border-bottom: 1px #fff;
  padding: 1px;

  text-shadow: 0 0 1px #fff;
  text-shadow: 0 0 3px #fff;
  text-shadow: 0 0 5px #fff;
}

#feature .wrapper {
  margin-top: 80px;
  margin-bottom: 30px;
}

#feature img {
  float: left;
  margin: 0 10px 25px 0;
}

#feature h2 {
  font-size: 250%;
  font-weight: bold;
  margin-bottom: 0;
}

#feature p {
  font-size: 125%;
  margin-top: -0.5em;
}

#container {
  background: white url(../images/strobe/containergradient.png) repeat-x scroll;
}

#container .wrapper {
  margin-top: 3.5em;
  border: 1px solid #d2cece;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.24);
}

#mainCol {
  margin: 0;
  padding: 0 35px;
  border-right: 1px solid #d2cece;
}

#mainCol h3.group:first-child {
  background: #f7f7f7 url(../images/strobe/guidegradient.png) repeat-x;
  border-top: 0;
  border-top-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-top-left-radius: 6px;
}

#mainCol h3.group {
  font-size: 225%;
  font-weight: 200;
  margin: 0 -35px;
  padding: 10px 35px;
  border-bottom: 1px solid #d2cece;
  border-top: 1px solid #d2cece;
}

#mainCol h3.section {
  padding-top: 1em;
  border-bottom: 1px solid #d2cece;
  font-size: 1.25em;
  font-weight: normal;
  text-transform: uppercase;
}

#mainCol dl dt {
  margin-top: 1em;
  clear: left;
}

#mainCol dl dd {
  font-size: 115%;
  padding-bottom: 1.5em;
}

#mainCol dl dd:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

#guides {
  background-color: #2A8008;
  color: #3C9936;
}

#guides hr {
  background-color: #5FBB58;
}

#guides dl dt {
  color: #5FBB58;
  letter-spacing: 0.05em;
  font-weight: bold;
}

#guides dl dd {
  text-indent: -10px;
  margin-left: 18px;
}

#mainCol a, #subCol a, #feature a, a, a:link, a:visited {
  font-size: 110%;
  color: #047ed7;
}

#mainCol a, #subCol a, #feature a {
  font-weight: normal;
}

.guide tt, .guide code {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  text-shadow: #fff 1px 1px 1px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.05);
  border: 1px solid #ddd;
  padding: 1px 3px;
}

div.filename {
  padding-top: 5px;
}

ol.chapters a {
  text-decoration: none;
}

ol.chapters li a p {
  /* FIXES: Firefox incorrectly renders block elements inside of list items */
  display: inline;
}

.syntaxhighlighter {
  /* FIXES: Chome cuts off underscores on the last line of a code block */
  padding-bottom: 1px;
}
