body {
  color: #3e434c;
  background: #fff;
}

dd img {
  float: left;
  height: 36px;
  margin: 0.25em 1em 0 0;
}

#feature {
  background: #A7B5BF;
  background-image: url(../images/header/pixels.png);
  background-repeat: repeat;
  border-bottom: 1px #fff;
  padding: 1px;
}

#feature .wrapper {
  height: 70px;
  margin-top: 80px;
  margin-bottom: 30px;
  padding: 0;
  width: 960px;
  position: relative;
  z-index: 10; /* ensure the guides index is above #container content */
}

#feature .feature_header {
  width: 680px;
  text-shadow: 0 0 1px #fff;
  text-shadow: 0 0 3px #fff;
  text-shadow: 0 0 5px #fff;
}

#feature img {
  float: left;
  margin: 0 10px 25px 0;
}

#feature h2 a {
  color: #000;
  font-size: 250%;
  font-weight: bold;
  margin-bottom: 0;
}

#feature p {
  font-size: 125%;
  margin-top: -0.5em;
}

#feature .feature_sidebar {
  position: absolute;
  right: 0;
  top: 0;
  width: 280px;
}

#feature #guidesMenu,
#feature #guides .guidesMenu {
  font-size: 115%;
  text-transform: uppercase;
  font-weight: bold;
  color: #454b54;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.32);
}

#feature #guidesMenu {
  display: block;
  width: 214px;
  height: 34px;
  margin: 1.2em auto;
  text-align: center;
  padding-top: 13px;
  background: url(../images/strobe/guide-button.png) no-repeat center -1px;
}

#feature #guidesMenu:hover {
  background-position: center center;
}

#feature #guidesMenu:active {
  background-position: center bottom;
}

#feature #guides .guidesMenu {
  float: right;
  margin: -10px 24px 10px 0;
}

#guides {
  top: 16px;
  right: 36px;
  width: 520px;
  background-color: #fff;
  color: #3e434c;
}

#guides .L {
  width: 240px;
}
#guides .R {
  width: 240px;
  margin-left: 40px;
}

#guides hr {
  background-color: #d2cece;
}

#guides dl {
  font-size: 140%;
}

#guides dl dt {
  color: #3e434c;
  letter-spacing: 0.05em;
  font-weight: bold;
}

#guides dl dd {
  text-indent: -10px;
  margin-left: 18px;
}

#container {
  background: white url(../images/strobe/containergradient.png) repeat-x scroll;
}

#container .wrapper {
  width: 960px;
  position: relative;
  margin-top: 3.5em;
  border: 1px solid #d2cece;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.24);
  /* background for sidebar */
  background: url(../images/strobe/sidebar-gradient.png) repeat-x;
}

#mainCol {
  margin: 0;
  padding: 0 35px 2em 35px;
  width: 610px;
  border-right: 1px solid #d2cece;
  background: #fff;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-bottomleft: 6px;
}

/** Guide headers */
#mainCol .headerSection {
  position: relative;
  background: #f7f7f7 url(../images/strobe/guidegradient.png) repeat-x;
  border-top: 0;
  border-top-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  margin: 0 -35px;
  padding: 10px 35px;
  border-bottom: 1px solid #d2cece;
}

#mainCol .headerSection h2 {
  font-size: 225%;
  font-weight: 200;
}

#mainCol .headerSection p {
  font-size: 125%;
}

#mainCol .headerSection ul li {
  font-size: 110%;
  font-weight: bold;
  padding-left: 30px;
  margin: 0.8em 0;
  background-image: url(../images/strobe/check.png);
  background-position: 7px 1px;
}

/** Guide body styles */
#mainCol h3,
#mainCol h4,
#mainCol h5 {
  font-size: 150%;
  font-weight: 500;
  margin: 1em 0;
}

#mainCol h4 {
  font-size: 125%;
}

#mainCol h5 {
  font-size: 110%;
}

#mainCol p {
  margin-bottom: 1em;
}

#mainCol ul {
  margin-bottom: 1em;
}

div.code_container {
  background: #eee url(../images/strobe/tab-code.png) no-repeat left top;
}

div.code_container div.filename {
  background-color: #cbe1af;
  margin-left: -11px;
}

.note {
  background: #fff9d8 url(../images/strobe/tab-notes.png) no-repeat left top;
}

.info {
  background: #e5cfec url(../images/strobe/tab-pin.png) no-repeat left top;
}

#mainCol dd.work-in-progress, #subCol dd.work-in-progress {
	background: #fff9d8 url(../images/strobe/tab-notes.png) no-repeat left top;
}

#mainCol div.warning, #subCol dd.warning {
	background: #f9d9d8 url(../images/strobe/tab-warning.png) no-repeat left top;
}


/** Index and credits headers */
#mainCol h3.group:first-child {
  background: #f7f7f7 url(../images/strobe/guidegradient.png) repeat-x;
  border-top: 0;
  border-top-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
}

#mainCol h3.group {
  font-size: 225%;
  font-weight: 200;
  margin: 0 -35px;
  padding: 10px 35px;
  border-bottom: 1px solid #d2cece;
  border-top: 1px solid #d2cece;
}

#mainCol h3.section {
  padding-top: 1em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #d2cece;
  font-size: 1.25em;
  font-weight: normal;
  text-transform: uppercase;
}

#mainCol dl dt {
  font-weight: normal;
  margin-top: 1em;
  clear: left;
}

#mainCol dl dd {
  font-size: 115%;
  padding-bottom: 1.5em;
}

#mainCol dl dd:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

#mainCol div {
  vertical-align: middle;
}

#mainCol div h3 {
  font-size: 150%;
}

#mainCol div.author p {
  margin-left: 115px;
}

#subCol {
  background: transparent;
  position: absolute;
  width: 240px;
  padding: 1em 20px;
  border-top-right-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
}

#subCol h3 {
  margin: 0.4em 0 1em 0;
  font-size: 125%;
  font-weight: bold;
  text-transform: uppercase;
  color: #718090;
}

#subCol h3.chapter {
  margin-top: -5px;
}

#subCol h3.chapter img {
  position: relative;
  top: 5px;
  margin-right: 10px;
}

#subCol p {
  clear: left;
  margin-bottom: 3em;
	font-size: 14px;
	line-height: 20px;
}

#subCol ul.links li {
  line-height: 2em;
}

#subCol p img {
  float: left;
  margin: 0.3em 1em 2em 0;
}

#subCol p.getInvolved a {
  font-weight: bold;
}

#mainCol a, #subCol a, #feature a, a, a:link, a:visited {
  font-size: 110%;
  color: #047ed7;
}

#mainCol a, #subCol a, #feature a {
  font-weight: normal;
}

.guide tt, .guide code {
  font-family: "Monaco", "Anonymous Pro", "Inconsolata", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace !important;
}

.guide tt {
  background-color: #deeac9;
  border: 1px solid #cad5b7;
  padding: 1px 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

div.filename {
  padding-top: 5px;
}

#subCol ol.chapters {
  list-style: decimal outside;
}

#subCol ol.chapters a {
  text-decoration: none;
  font-weight: normal;
}

#subCol ol.chapters > li {
  color: #000;
  font-size: 115%;
  margin: 1.5em;
  margin-right: 0;
}

#subCol ol.chapters li ul {
  margin-right: 0;
}

#subCol ol.chapters li ul li {
  margin-left: 1em;
  background-position: 0 3px;
}

#subCol ol.chapters li a p {
  /* FIXES: Firefox incorrectly renders block elements inside of list items */
  display: inline;
}

.syntaxhighlighter {
  /* FIXES: Chome cuts off underscores on the last line of a code block */
  padding-bottom: 1px;
}



/* Subscribe (commented out until we have full mailchimp integration)


#subscribe {
  position: relative;
  border:1px solid #000;
  height:28px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background:#282828;
  -webkit-box-shadow: inset 0px 0px 11px #1b1b1b;
  -moz-box-shadow: inset 0px 0px 11px #1b1b1b;
  box-shadow: inset 0px 0px 11px #1b1b1b;
}

#subscribe .error {
  position:absolute;
  top:100%;
  margin-top:.5em;
  display:none;
  color: #c23b3b;
}

#subscribe .processing {
  position: absolute;
  top:6px; left:8px;
  display:none;
}

#subscribe input[name="email"] {
  position:absolute;
  font-size:12px;
  top:2px; left:4px;
  right:5.5em;
  height:22px;
  color:#CCC;
  background:none;
  border:0px;    
}

#subscribe input[name="email"]:active, #subscribe input[name="email"]:focus {
  outline: none;
	border: none;
  -moz-border-radius: 5px;
   border-radius: 5px;
}

#subscribe button[name="subscribe"] {
  position:absolute;
  top:-1px; right:-1px; 
  height:30px;
  color:#FFF;
  width: 7em;
  background:#111;
  cursor: pointer;
  border:1px solid #000;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #494949; 
  background: -moz-linear-gradient(top, #494949 0%, #404040 50%, #393939 51%, #303030 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#494949), color-stop(50%,#404040), color-stop(51%,#393939), color-stop(100%,#303030));
  background: -webkit-linear-gradient(top, #494949 0%,#404040 50%,#393939 51%,#303030 100%); 
  background: -o-linear-gradient(top, #494949 0%,#404040 50%,#393939 51%,#303030 100%); 
  background: -ms-linear-gradient(top, #494949 0%,#404040 50%,#393939 51%,#303030 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#303030',GradientType=0 ); 
  background: linear-gradient(top, #494949 0%,#404040 50%,#393939 51%,#303030 100%); 
}
#subscribe button[name="subscribe"]:disabled {
  opacity: .16;
	cursor: pointer;
}

/* Footer
--------------------------------------------- */

body > footer {
	text-align: left !important;
	height: 160px;
  overflow: visible;
  padding: 60px 0;
  color: #e9e9e9;
  line-height: 1.2;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  background: #343434 url(../images/footer/dot.png);
  -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.6);
}

/* Columns */

body > footer .col {
  float: left;
  font-size: 15px;
}

body > footer > .container > .col a,
body > footer > .container > .col a:link,
body > footer >  .container > .col a:visited {
	font-size: 15px;
	color: #a1bed5;
}

body > footer .col:nth-child(1) {
  width: 305px;
}

body > footer .col:nth-child(2) {
  width: 200px;
  margin: 0px 85px 0px 85px
}

body > footer .col:nth-child(3) {
  width: 285px;
}

/* Logo */

body > footer .col:nth-child(1) > a {
  display: inline-block;
  margin-bottom: 24px;
}

/* License */

body > footer .col:nth-child(1) > #license {
	margin-top: 1px;
	line-height: 22px;
}

/* Headers */

body > footer h1,
body > footer h2 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
}

/* Nav */

body > footer ul {
  overflow: hidden;
  margin-bottom: 25px;
  margin-top: 13px;
}

body > footer li {
  float: left;
  margin-top: 5px;
}

body > footer nav li {
  width: 100px;
  margin-top: 5px;
}

body > footer .social li:nth-child(2) {
  margin: 5px 8px 0 8px
}

body > footer .social li:nth-child(4) a {
	display: inline-block;
	width: 140px;
	margin: -2px 0 0 5px;
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
  font-family: Georgia, Times, "Times New Roman", serif;
}

#newsletter.button.secondary {
	opacity: 0.55;
	padding: 10px 15px;
	border: 1px solid #000;
	color: #fff;
	font-weight: bold;
	text-shadow: 0 1px 0 #000;
	font-size: 11px !important;
	text-transform: uppercase;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.1), inset 0 1px 0 rgba(255, 255, 255, 0.14);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,.1), inset 0 1px 0 rgba(255, 255, 255, 0.14);
  box-shadow: 0 1px 0 rgba(255,255,255,.1), inset 0 1px 0 rgba(255, 255, 255, 0.14);
  background: #242424;
  background: -moz-linear-gradient(top, #3b3b3b, #2f2f2f 50%, #242424 51%, #161616);
  background: -ms-linear-gradient(top, #3b3b3b, #2f2f2f 50%, #242424 51%, #161616);
  background: -o-linear-gradient(top, #3b3b3b, #2f2f2f 50%, #242424 51%, #161616);
  background: -webkit-gradient(linear, left top, left bottom, from(#3b3b3b), color-stop(50%, #2f2f2f), color-stop(51%, #242424), to(#161616));
  background: -webkit-linear-gradient(top, #3b3b3b, #2f2f2f 50%, #242424 51%, #161616);
  background: linear-gradient(top, #3b3b3b, #2f2f2f 50%, #242424 51%, #161616);
}

#newsletter.button.secondary:hover {
	background: #262626;
  background: -moz-linear-gradient(top, #333, #161616);
  background: -ms-linear-gradient(top, #333, #161616);
  background: -o-linear-gradient(top, #333, #161616);
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#161616));
  background: -webkit-linear-gradient(top, #333, #161616);
  background: linear-gradient(top, #333, #161616);
}

#newsletter.button.secondary:active {
	background: #262626;
  background: -moz-linear-gradient(top, #161616, #333);
  background: -ms-linear-gradient(top, #161616, #333);
  background: -o-linear-gradient(top, #161616, #333);
  background: -webkit-gradient(linear, left top, left bottom, from(#161616), to(#333));
  background: -webkit-linear-gradient(top, #161616, #333);
  background: linear-gradient(top, #161616, #333);
}