<% guides.each do |name, list| %>
  <h3><%= name %></h3>

  <dl>
    <% list.each do |guide| %>
      <dt><%= link_to guide["title"], "#{guide["url"]}.html" %></dt>
      <dd>
        <% if guide["construction"] %>
          <img src="images/construction.png" />
        <% end %>
        <p><%= guide["text"] %></p>
      </dd>
    <% end %>
  </dl>
<% end %>

