<% content_for :sidebar do %>
<h3>Get Involved</h3>
<p>
  <img src="../images/strobe/paperandpencil.png">
  <a href="/contribute.html">Contribute New Guides</a><br>
  Pay it forward with a couple guides of your own!
</p>

<p>
  <img src="../images/strobe/starperson.png">
  <a href="/credits.html">Author Credits</a><br>
  Say hello to the team behind these guides.
</p>

<h3>Icon Legend</h3>

<p>
  <img src="../images/strobe/warning.png">
  Guides are a result of the ongoing <a>Guides hackfest</a>, and a work in progress.
</p>

<p>
  <img src="../images/strobe/pin.png">
  Guides are a result of the ongoing <a>Guides hackfest</a>, and a work in progress.
</p>

<p>
  <img src="../images/strobe/notes.png">
  Guides are a result of the ongoing <a>Guides hackfest</a>, and a work in progress.
</p>

<p>
  <img src="../images/strobe/code.png">
  Guides are a result of the ongoing <a>Guides hackfest</a>, and a work in progress.
</p>
<% end %>

<%= render "full_index", :guides => all_guides %>
