<% content_for :header_section do %>
<img src="../images/strobe/guides.png">
<h2><%= Guides.meta["title"] %></h2>
<p><%= Guides.meta["description"] %></p>
<% end %>

<% content_for :sidebar do %>
<h2>Hi mom</h2>
<% end %>

<%= render "full_index", :guides => all_guides %>
